/* Table Group Styling */

table.group {
	width: 135px;
}

table.group td p {
	text-decoration: none;
	font-size: .9em;
	border: none;
}

table.group td {
	height: 25px;
	padding: 0px 5px;
}

table.group .winner {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #d75c37;
	background: -webkit-linear-gradient(#d75c37, #d75d36);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d75c37, #d75d36);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#d75c37, #d75d36);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#d75c37, #d75d36);
	/* Standard syntax */
}

table.group .loser {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	background-color: #eee;
	background: -webkit-linear-gradient(#f8f8f8, #e3e3e3);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#f8f8f8, #e3e3e3);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#f8f8f8, #e3e3e3);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#f8f8f8, #e3e3e3);
	/* Standard syntax */
}

.winner p {
	color: #fff;
}

.loser p {
	color: #666;
}


/* Main Table Styling */

table.bracket {
	border-collapse: collapse;
	border: none;
}

.bracket td {
	vertical-align: middle;
	margin: 0;
	padding: 0px;
}

.bracket td p {
	border-bottom: solid 1px black;
	margin: 0;
}

.bracket th {
	text-align: left;
}

/* Table Connector Styling */

table.bracket td.col3 table {
	margin: -10px;
	padding: 0;
}

table.bracket td.col1 {
	width: 50px;
	padding: 0px;
	text-align: center;
}

table.bracket td.col2 {
	width: 145px;
}

table.bracket td.col3 {
	width: 50px;
}

td.col3 td.border_bottom {
	border-bottom: 2px solid #000;
}

td.col3 td.border_right {
	border-right: 2px solid #000;
}

hr.middle {
	border-top: 2px solid #000;
}
