/* tour INFO STYLING */


/* Chat box*/
.chat-box { 
    background-color: #eee; 
    height:100%;
    padding: 10px;
    margin-bottom: 15px;
	margin-top: 15px;
}

/* Match Tab styling*/

.match-score {
 position: absolute;
    top: 30%;
    right: 46%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    color:#d75c37;
}
.match-score p{
    border-bottom: 2px solid #d75c37;
    margin:0;
    padding:0;
}

.match-player-box {
    margin:20px 0 0 0;
}
img.match-player-img {
    border-radius: 100%;
    border: 1px solid #666;
    width:50%;
    display: block;
    margin: 10px auto;
}
.match-player-info {
    display: block;
    text-align: center;
}
.match-player-info .player {
    font-weight: bold;
    border-bottom: 1px solid #e3e3e3;
    font-size: 1.2em;
    padding: 20px auto;
    color: #d75c37;
    margin: 10px;
}
.submit-score{
    padding:20px;
    text-align: center;
    border-top: 1px solid #e3e3e3;
    margin-top: 25px;
    width:100%;
}
.submit {
    padding:10px;
    width:100px;
    border-radius: 2px;
    background-color: #e3e3e3;
    border: 1px solid #999;
    color:#333;
    margin-top: 15px;
}
.submit:hover {
    background-color: #d75c37;
    color:#fff;
    border: 1px solid #fff;
}
.submit:focus {
    background-color: #e3e3e3; 
    color:#333;
}
.VS {
    font-weight: bold;
    font-size: 2em;
    color: #d75c37;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    text-align: center;
    padding: 10px;
    width:100%;
    margin: 20px 0px;
}
p.score{ border:none; color:#666;}
.spacer-btm {
    margin-bottom: 25px;
}
.join {
    text-align: center;
    color: #d75c37;
    text-shadow: none;
}
.all-participants{
	margin-top:10px;
}
.teamContainer{
	border-radius:5px !important;
}
.bottomMatch{
	border-bottom-left-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}
.topMatch{
	border-top-left-radius: 5px !important;
	border-top-right-radius: 5px !important;
}
.bottomDiffRad{
	border-bottom-right-radius: 5px !important;
}
.topDiffRad{
	border-top-right-radius: 5px !important;
}
